@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
*{
    font-family: 'Golos Text', sans-serif;
}
h1{
    color: rgb(232, 213, 44);
    text-align: center;
    text-shadow: 0 0 5rem rgba(0, 0, 0, 0.204);
}
.form-control{
    border-color: #ffe69c;
    background-color:#212529;
    color: white;
    border-radius: 5rem;
}
.form-control:focus {
    color: white;
    background-color:#212529;
    border-color: #ffe69c;
    outline: 0;
    box-shadow: 0 0 0.5rem 0.1rem #ffe69c5b;
}
.form-control::placeholder {
    color: #ffe69c;
  }
.form-select{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffe69c' viewBox='0 0 16 16'%3E%3Cpath d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
    color: #ffe69c;
    background-color:#212529;
    border-color: #ffe69c;
    border-radius: 3rem;
}
.form-select option{
    color: #ffe69c;
}
.form-select option:hover{
    color: #ffe69c;
}
.form-select:focus {
    outline: 0;
    border-color: #ffe69c;
    box-shadow: 0 0 0.5rem 0.1rem #ffe69c5b;
}

